.any_class, .clear_both {
    clear: both !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.ruka {
    cursor: pointer !important;
}

.normal_font {
    font-weight: normal !important;
}

.panel .margin-form {
    margin-bottom: 10px;
}

.panel .icon-cogs {
    margin-right: 10px;
}