/* 1.5 + 1.6 */
#order p.shaim_heureka_checkbox, #order-opc p.shaim_heureka_checkbox, #module-onepagecheckoutps-main div.shaim_heureka_checkbox, #module-supercheckout-supercheckout div.shaim_heureka_checkbox {
    clear: both;
    margin-top: 5px !important;
}

/* thecheckout */
#module-thecheckout-order div.shaim_heureka_checkbox .label {
    margin-left: 25px;
}

/* onepagecheckout */
#opc_checkout span.shaim_heureka_checkbox {
    display: block;
}

/* onepagecheckout */
#opc_checkout span.shaim_heureka_checkbox > label {
    padding-left: 10px;
}

/* PS 1.7 default */
#checkout div.shaim_heureka_checkbox {
    margin-left: 2.5rem;
}

/* PS 1.7 default */
#checkout label.js-terms-heureka-checkbox {
    text-align: left;
}